#ctxMenu{
    display:none;
    z-index:100;
}
.point{
  width:1px;
  height:1px;
}
.options{
  display:block;
  background-color:white;
  border: 0;
  padding: 5px;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}
.edit{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.delete{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#notepad{
    position:absolute;
    left:25%;
    top:10%;
    width:300px;
    height:300px;
    background-color:red;
}
menu {
    position:absolute;
    display:block;
    left:0px;
    top:0px;
    height:20px;
    width:20px;
    padding:0;
    margin:0;
    border:1px solid;
    background-color:white;
    font-weight:normal;
    white-space:nowrap;
}
menu:hover{
    background-color:#D6D2CA;
}
menu > menu{
    display:block;
    position:relative;
    top:0px;
    left:100%;
    width:65px;
}
menu[title]:before{
    content:attr(title);
}

html{
	background: url("../images/ev-232339-unsplash.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
body{
	margin: 0;
	padding: 0;
}
nav{
	width: 100%;
	overflow: auto;
	top:0;
	position: fixed;
}
.navclass{

}
ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
	overflow: auto;
}
li{
	float: left;
}
li a {
	display: block;
	padding: 10px 10px;
	text-decoration: none;
	text-align: center;
	font-family: 'Aleo', serif;
	color: black;
}
li a:hover{
	background-color: white;
	color: black;
}
#gallery {
	width: 100%;
	overflow: auto;
	background-color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
}

#img-container{
	width: 100%;
	overflow: auto;
}
.banner-img{
	width: 25%;
	height: 25%;
	margin: 0% 0% 4% 5%;
	border: 5px solid black;
}
.heading-tab{
	height: 10%;
	background-color: #fff;
	margin-top: 0%;
	text-align: center;
	font-family: 'Aleo', serif;
	font-size: 200%;
	border-right:25px;
	border-right-color: red;
	border-right-style: solid;
	border-left:20px;
	border-left-color: red;
	border-left-style: solid;
	border-top:2px;
	border-top-color: red;
	border-top-style: solid;
	border-bottom:2px;
	border-bottom-color: red;
	border-bottom-style: solid;
}
.add-new-image-div{
	width: 100%;
	height: 5%;
	text-align: center;
	margin: 0;
	padding: 0;
}
.add-new-image-button{
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: white;
	color: blue;
	border: 2px solid blue;
	display: inline-block;
	padding: 0.5% 0.5% 0.5% 0.5%;
	border-radius: 5px;
}
.add-new-image-button:hover {
	background-color: blue;
	color: white;
	cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 1px 6px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
.submitEdit{
	width:10%;
    heigth:10px;
    background-color: blue;
    padding: 10px;
    border-radius: 3px;
    color:white;
    cursor: pointer;
}