html{
	background: url("../images/ev-232339-unsplash.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
body{
	margin: 0;
	padding: 0;
}
nav{
	width: 100%;
	overflow: auto;
	top:0;
	position: fixed;
}
.navclass{

}
ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
	overflow: auto;
}
li{
	float: left;
}
li a {
	display: block;
	padding: 10px 10px;
	text-decoration: none;
	text-align: center;
	font-family: 'Aleo', serif;
	color: black;
}
li a:hover{
	background-color: white;
	color: black;
}
#info{
	width: 100%;
	overflow: auto;
	margin-top: 100px;
}
.name{
	margin-left: 15%;
	font-family: 'Aleo', serif;
	margin-right: 0;
	display: inline-block;
	float: left;
	margin-top: 10%;
}
.thisIsMe{
	font-size: 20px;
	padding: 0;
	margin: 0;
	border: 0;
}
.fullname{
	font-size: 40px;
	margin-top: 5px;
	margin-bottom: 0;
	margin-right: 0;
}
.imageDiv{
	
}
.profilePic{
	float: left;
	width: 20%;
	margin-left: 20%;
	border-radius: 10%;
}

.heading-tab{
	height: 10%;
	background-color: #fff;
	margin-top: 0%;
	text-align: center;
	font-family: 'Aleo', serif;
	font-size: 200%;
	border-right:25px;
	border-right-color: red;
	border-right-style: solid;
	border-left:20px;
	border-left-color: red;
	border-left-style: solid;
	border-top:2px;
	border-top-color: red;
	border-top-style: solid;
	border-bottom:2px;
	border-bottom-color: red;
	border-bottom-style: solid;
}
.aboutme-description{
	text-align: center;
	font-family: 'Satisfy', cursive;
	font-size: 200%;
	color:#414249;
}
.kp{
	font-family: 'Dancing Script', cursive;
	font-size: 250%;
	text-align: center;	
}
#contact, #aboutme{
	width: 100%;
	padding: 0;
}
#aboutme{
	margin-top: 18%;
	background-color: #fff;
	display: inline-block;
	padding-top: 50px;
	height: 500px;
}
#contact{
	margin-top: 0;
	background-color: #EDEEF3;
	height: 660px;
}
.mail-icon-div{
	overflow: auto;
	float: left;
}
.mail-icon-class{
	width: 35%;
	margin-left: 50%;
	margin-top: 40%;
}

.form-div{
	overflow: auto;
	/*background-color: blue;*/
}

.form-class{
	margin-top: 15%;
	margin-left: 20%;
	margin-right: 30%;
	padding: 5% 0% 5% 5%;
	background-color: #fff;
	border-radius: 5%;
}

input[type=text], input[type=email], textarea {
  width: 85%;
  padding: 12px 20px;
  margin-top: 8px;
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 85%;
  background-color: #3F4044;
  color: white;
  padding: 12px 20px;
  margin-top: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #4B4C51;
}
.name-empty, .email-empty, .message-empty {
	font-size: 15px;
	color: red;
	display: none;
	float: center;
}
#gallery {
	width: 100%;
	overflow: auto;
	background-color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
}

#img-container{
	width: 100%;
	overflow: auto;
}
.banner-img{
	width: 25%;
	height: 25%;
	margin: 5% 0% 0% 5%;
	border: 5px solid black;
}